* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topLvl {
  width: 400px;
  height: 400px;
  background: grey;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.space {
  --_bg: var(--bg, white);
  width: 20px;
  height: 20px;
  background: var(--_bg);
}

.snake {
  --bg: green;
}

.food {
  --bg: red;
}
